.previewList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px 30px;
    padding: 0 15px;
    margin-top: 30px;

    @media(min-width: 992px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}